In [1]:
%cd /content/drive/My Drive/EVA4-Phase2/GANs

/content/drive/My Drive/EVA4-Phase2/GANs

In [9]:
import os
import pandas as pd
from urllib.request import urlretrieve
import matplotlib.pyplot as plt
from PIL import Image

In [4]:
df = pd.read_csv('Dataset/sedans.csv')
df.head()

     id           make  ...  year image-type
0  1101        HYUNDAI  ...  2018   original
1  1102  MERCEDES-BENZ  ...  2016   original
2  1103     VOLKSWAGEN  ...  2018   original
3  1104          LEXUS  ...  2015   original
4  1105     VOLKSWAGEN  ...  2018   original

[5 rows x 10 columns]

In [5]:
urls = df['src']
urls.head()

0    cdnblob.carvana.io/2000288628/post-large/norma...
1    cdnblob.carvana.io/2000286914/post-large/norma...
2    cdnblob.carvana.io/2000290982/post-large/norma...
3    cdnblob.carvana.io/2000288665/post-large/norma...
4    cdnblob.carvana.io/2000291311/post-large/norma...
Name: src, dtype: object

In [11]:
im_folder = 'Dataset/cars_sedans'
for idx, url in enumerate(urls):
  im_path = os.path.join(im_folder, 'car_' + str(idx) + '.jpg') 
  urlretrieve("https://" + url, im_path)

In [19]:
for idx, im in enumerate(os.listdir(im_folder)):
  print(im)
  if idx == 5:
    break

impath = os.path.join(im_folder, 'car_5.jpg')
print(impath)

car_0.jpg
car_1.jpg
car_2.jpg
car_3.jpg
car_4.jpg
car_5.jpg
Dataset/cars_sedans/car_5.jpg

In [20]:
img = Image.open(impath)
img.show()